
.container {
	text-align:center;
		background-color: rgba(0,0,0,0.5);
	}
.word {
	color:white;
	font-style: italic;
	font-family: Arial;
	}
* {
	margin:0px;
	padding:0px;
}

body {
	background-image: url("background.png");
}

table,th,td {
	margin: auto;
    border:1px;
    color:white;
	border-color:white;
	border-style:solid;
	width: 50%;
	font-family: Arial;
	font-style: italic;
}
h1 {
background-color:black;
}
body {
	border-radius: 50%;
}
li{
	background-color: black;
}
